<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  <i class="fa fa-envelope"></i>
  <span class="label label-success">4</span>
</a>
<ul class="dropdown-menu">
  <li class="header">You have 4 messages</li>
  <li>
    <!-- inner menu: contains the actual data -->
    <ul class="menu">
      <li><!-- start message -->
        <a href="#">
          <h4>
            Support Team
            <small><i class="fa fa-clock-o"></i> 5 mins</small>
          </h4>
          <p>Why not buy a new awesome theme?</p>
        </a>
      </li><!-- end message -->
      <li>
        <a href="#">
          <h4>
            AdminLTE Design Team
            <small><i class="fa fa-clock-o"></i> 2 hours</small>
          </h4>
          <p>Why not buy a new awesome theme?</p>
        </a>
      </li>
    </ul>
  </li>
  <li class="footer"><a href="#">See All Messages</a></li>
</ul>
