<section class="sidebar">
  <!-- search form -->
  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search..."/>
      <span class="input-group-btn">
        <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </form>
  <!-- /.search form -->
  <!-- sidebar menu -->
  <ul class="sidebar-menu">
    <li class="active">
      <a href="pages/calendar.html">
        <i class="fa fa-clock-o"></i> <span>Recent</span>
      </a>
    </li>
    <li class="category-view">
      <a href="#">
        <i class="fa fa-folder"></i>
        <span>Folders</span>
        <i class="fa fa-caret-down"></i>
      </a>
      <ul class="treeview-menu">
        <li class="category-view">
          <a href="pages/charts/morris.html" data-folder-id="3">
            <i class="fa fa-folder-o"></i>
            <span>Health</span>
            <i class="fa fa-caret-down"></i>
          </a>
        </li>
        <li class="category-view">
          <a href="pages/charts/morris.html">
            <i class="fa fa-folder-o"></i>
            <span>Motor</span>
            <i class="fa fa-caret-down"></i>
          </a>
        </li>
        <li class="category-view">
          <a href="#">
            <i class="fa fa-folder"></i>
            <span>what will hapen if this isssff just big </span>
            <i class="fa fa-caret-down"></i>
          </a>
          <ul class="treeview-menu">
            <li class="category-view">
              <a href="pages/charts/morris.html">
                <i class="fa fa-folder-o"></i>
                <span>Laptops</span>
                <i class="fa fa-caret-down"></i>
              </a>
            </li>
            <li class="category-view">
              <a href="pages/charts/morris.html">
                <i class="fa fa-folder-o"></i>
                <span>PCs</span>
                <i class="fa fa-caret-down"></i>
              </a>
            </li>
            <li class="category-view">
              <a href="pages/charts/morris.html">
                <i class="fa fa-folder-o"></i>
                <span>Tablets</span>
                <i class="fa fa-caret-down"></i>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="type-view">
      <a href="#">
        <i class="fa fa-th-large"></i>
        <span>Doc Types</span>
      </a>
      <ul class="treeview-menu">
        <li><a href="#"><i class="fa fa-file-word-o"></i> Word</a></li>
        <li><a href="#"><i class="fa fa-file-excel-o"></i> Excel</a></li>
        <li><a href="#"><i class="fa fa-file-pdf-o"></i> PDF</a></li>
        <li><a href="#"><i class="fa fa-file-image-o"></i> Image</a></li>
        <li><a href="#"><i class="fa fa-file-powerpoint-o"></i> PPT</a></li>
        <li><a href="#"><i class="fa fa-file-text-o"></i> TXT</a></li>
        <li><a href="#"><i class="fa fa-file-zip-o"></i> Zip</a></li>
        <li><a href="#"><i class="fa fa-file-o"></i> Others</a></li>
      </ul>
    </li>
    <li>
      <a href="pages/calendar.html">
        <i class="fa fa-share-alt"></i> <span>Shared with Me</span>
        <small class="badge pull-right bg-green">4</small>
      </a>
    </li>
    <li>
      <a href="pages/calendar.html">
        <i class="fa fa-star"></i> <span>Starred</span>
        <small class="badge pull-right bg-green">13</small>
      </a>
    </li>
    <li>
      <a href="pages/mailbox.html">
        <i class="fa fa-trash"></i> <span>Bin</span>
        <small class="badge pull-right bg-dark">12</small>
      </a>
    </li>
  </ul>
  <ul id="category-menu" class="dropdown-menu" role="menu" style="">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">New folder</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Rename</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Move to</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Change color</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Share with</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Add star</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Remove</a></li>
  </ul>
</section><!-- /.sidebar -->
